**Set environment**

In [1]:
suppressMessages(source("../config_sing.R"))
show_env()

You are in Singularity: singularity_proj_combeffect
BASE DIRECTORY:     /mount/work
PATH OF SOURCE:     /mount/work/source
PATH OF EXECUTABLE: /mount/work/exe
PATH OF ANNOTATION: /mount/work/annotation
PATH OF PROJECT:    /mount/project
PATH OF RESULTS:    /mount/work/out/proj_combeffect

In [2]:
SAMPLES = c(
    paste0("Input", 1:5),
    paste0("Input", 1:5, "_20x"),
    paste0("TFX", 2:5, "_DMSO"),
    paste0("TFX", 2:5, "_Dex"))

## Library size: sliding_chr17_len_1kb_gap_100bp

In [4]:
fname = "chr17_count.bed.gz"
cname = c("Chrom", "Start", "End", "Count")
ctype = c(col_character(), col_integer(), col_integer(), col_integer())

lst = lapply(SAMPLES, function(SAMPLE){
    
    ### set file path
    fdiry = file.path(FD_RES, "sliding_window", "sliding_chr17_len_1kb_gap_100bp", SAMPLE)     
    fpath = file.path(fdiry, fname)
    
    ### import data
    dat = read_tsv(fpath, col_types = ctype, col_names = cname)
    dat$Sample = SAMPLE
    return(dat)
})

###
dat = bind_rows(lst)

###
dat_win_cnt = dat
print(dim(dat))
head(dat)

[1] 12457031        5

  Chrom Start  End    Count Sample
1 chr17 200200 201200 2     Input1
2 chr17 200300 201300 4     Input1
3 chr17 200400 201400 5     Input1
4 chr17 200500 201500 5     Input1
5 chr17 200600 201600 5     Input1
6 chr17 200700 201700 5     Input1

In [10]:
dat = dat_win_cnt
dat = dat %>% 
    mutate(Group = str_remove(Sample, "[0-9]")) %>%
    group_by(Sample, Group) %>% 
    summarize(Size=sum(Count), .groups = "drop")

dat_lib = dat
print(dim(dat))
dat

[1] 18  3

   Sample     Group     Size
1  Input1     Input      12361285
2  Input1_20x Input_20x 258504625
3  Input2     Input      13353781
4  Input2_20x Input_20x 241310871
5  Input3     Input      15549291
6  Input3_20x Input_20x 244400402
7  Input4     Input      12493205
8  Input4_20x Input_20x 283480692
9  Input5     Input      10033023
10 Input5_20x Input_20x 235179525
11 TFX2_Dex   TFX_Dex    37281525
12 TFX2_DMSO  TFX_DMSO   35688655
13 TFX3_Dex   TFX_Dex    21743341
14 TFX3_DMSO  TFX_DMSO   21438742
15 TFX4_Dex   TFX_Dex    28731440
16 TFX4_DMSO  TFX_DMSO   24752052
17 TFX5_Dex   TFX_Dex    35164913
18 TFX5_DMSO  TFX_DMSO   23711627

In [11]:
fdiry = file.path(FD_RES, "sliding_window", "sliding_chr17_len_1kb_gap_100bp")     
fname = "dat_libsize.tsv"
fpath = file.path(fdiry, fname)

dat = dat_lib
write_tsv(dat, fpath)

## Library size: sliding_chr17_len_1kb_gap_100bp_f50_OR_F50

In [12]:
fname = "chr17_count.bed.gz"
cname = c("Chrom", "Start", "End", "Count")
ctype = c(col_character(), col_integer(), col_integer(), col_integer())

lst = lapply(SAMPLES, function(SAMPLE){
    
    ### set file path
    fdiry = file.path(FD_RES, "sliding_window", "sliding_chr17_len_1kb_gap_100bp_f50_OR_F50", SAMPLE)     
    fpath = file.path(fdiry, fname)
    
    ### import data
    dat = read_tsv(fpath, col_types = ctype, col_names = cname)
    dat$Sample = SAMPLE
    return(dat)
})

###
dat = bind_rows(lst)

###
dat_win_cnt = dat
print(dim(dat))
head(dat)

[1] 11416245        5

  Chrom Start  End    Count Sample
1 chr17 200600 201600 2     Input1
2 chr17 200700 201700 4     Input1
3 chr17 200800 201800 5     Input1
4 chr17 200900 201900 5     Input1
5 chr17 201000 202000 5     Input1
6 chr17 201100 202100 5     Input1

In [13]:
dat = dat_win_cnt
dat = dat %>% 
    mutate(Group = str_remove(Sample, "[0-9]")) %>%
    group_by(Sample, Group) %>% 
    summarize(Size=sum(Count), .groups = "drop")

dat_lib = dat
print(dim(dat))
dat

[1] 18  3

   Sample     Group     Size
1  Input1     Input       6401682
2  Input1_20x Input_20x 133509811
3  Input2     Input       6915620
4  Input2_20x Input_20x 124654780
5  Input3     Input       8051137
6  Input3_20x Input_20x 126243490
7  Input4     Input       6465460
8  Input4_20x Input_20x 146376882
9  Input5     Input       5189219
10 Input5_20x Input_20x 121371084
11 TFX2_Dex   TFX_Dex    19292553
12 TFX2_DMSO  TFX_DMSO   18483347
13 TFX3_Dex   TFX_Dex    11248582
14 TFX3_DMSO  TFX_DMSO   11098288
15 TFX4_Dex   TFX_Dex    14870105
16 TFX4_DMSO  TFX_DMSO   12803844
17 TFX5_Dex   TFX_Dex    18198657
18 TFX5_DMSO  TFX_DMSO   12267753

In [14]:
fdiry = file.path(FD_RES, "sliding_window", "sliding_chr17_len_1kb_gap_100bp_f50_OR_F50")     
fname = "dat_libsize.tsv"
fpath = file.path(fdiry, fname)

dat = dat_lib
write_tsv(dat, fpath)