In [1]:
suppressMessages(suppressWarnings(source("config.R")))

```
FD_ANN=/data/reddylab/Kuei/out/annotation
FD_WRK=/data/reddylab/Kuei/out/CombEffect_STARR
FD_DAT=($(ls -d ${FD_WRK}/data/Input/))
CHROM=chr17
ANNOT=GCR
```

In [4]:
fdiry="/data/reddylab/Kuei/out/CombEffect_STARR/data/Input"
dir(fdiry)

[1] "ann_chr17_FOS.bed" "ann_chr17_GCR.bed" "ann_chr17_JUN.bed"
[4] "ann_chr17.bed"     "chr17.bed"         "cnt_chr17.bed"
[7] "cnt_chr17.txt"

In [31]:
fdiry="/data/reddylab/Kuei/out/CombEffect_STARR/data/Input/ann_*_*.bed"
fpath=Sys.glob(fdiry)
print(fpath)

[1] "/data/reddylab/Kuei/out/CombEffect_STARR/data/Input/ann_chr17_CREB1.bed"
[2] "/data/reddylab/Kuei/out/CombEffect_STARR/data/Input/ann_chr17_FOS.bed"
[3] "/data/reddylab/Kuei/out/CombEffect_STARR/data/Input/ann_chr17_GCR.bed"
[4] "/data/reddylab/Kuei/out/CombEffect_STARR/data/Input/ann_chr17_JUN.bed"

In [32]:
dat1 = read_tsv(fpath[1], col_names=FALSE) %>% mutate(site="CREB1")
dat2 = read_tsv(fpath[2], col_names=FALSE) %>% mutate(site="FOS")
dat3 = read_tsv(fpath[3], col_names=FALSE) %>% mutate(site="GCR")
dat4 = read_tsv(fpath[4], col_names=FALSE) %>% mutate(site="JUN")

Parsed with column specification:
cols(
  X1 = col_character(),
  X2 = col_double(),
  X3 = col_double(),
  X4 = col_double(),
  X5 = col_character(),
  X6 = col_double(),
  X7 = col_double(),
  X8 = col_double()
)
Parsed with column specification:
cols(
  X1 = col_character(),
  X2 = col_double(),
  X3 = col_double(),
  X4 = col_double(),
  X5 = col_character(),
  X6 = col_double(),
  X7 = col_double(),
  X8 = col_double()
)
Parsed with column specification:
cols(
  X1 = col_character(),
  X2 = col_double(),
  X3 = col_double(),
  X4 = col_double(),
  X5 = col_character(),
  X6 = col_double(),
  X7 = col_double(),
  X8 = col_double()
)
Parsed with column specification:
cols(
  X1 = col_character(),
  X2 = col_double(),
  X3 = col_double(),
  X4 = col_double(),
  X5 = col_character(),
  X6 = col_double(),
  X7 = col_double(),
  X8 = col_double()
)

In [33]:
print(dim(dat1))
head(dat1)

[1] 492   9

  X1    X2      X3      X4 X5    X6      X7      X8 site
1 chr17 8151204 8152259 1  chr17 8152256 8153070  3 CREB1
2 chr17 8151233 8152266 2  chr17 8152256 8153070 10 CREB1
3 chr17 8151239 8152260 1  chr17 8152256 8153070  4 CREB1
4 chr17 8151239 8152261 1  chr17 8152256 8153070  5 CREB1
5 chr17 8151252 8152321 1  chr17 8152256 8153070 65 CREB1
6 chr17 8151280 8152290 1  chr17 8152256 8153070 34 CREB1

In [36]:
dat1 = dat1 %>% dplyr::select(X1, X2, X3, site)
dat2 = dat2 %>% dplyr::select(X1, X2, X3, site)
dat3 = dat3 %>% dplyr::select(X1, X2, X3, site)
dat4 = dat4 %>% dplyr::select(X1, X2, X3, site)

In [37]:
dat = dat1 %>% 
    dplyr::full_join(dat2, by=c("X1", "X2", "X3")) %>% 
    dplyr::full_join(dat3, by=c("X1", "X2", "X3")) %>%
    dplyr::full_join(dat4, by=c("X1", "X2", "X3"))
head(dat)

  X1    X2      X3      site.x site.y site.x.x site.y.y
1 chr17 8151204 8152259 CREB1  NA     GCR      NA
2 chr17 8151204 8152259 CREB1  NA     GCR      NA
3 chr17 8151204 8152259 CREB1  NA     GCR      NA
4 chr17 8151233 8152266 CREB1  NA     GCR      NA
5 chr17 8151233 8152266 CREB1  NA     GCR      NA
6 chr17 8151233 8152266 CREB1  NA     GCR      NA

In [38]:
na.omit(dat)

     X1 X2 X3 site.x site.y site.x.x site.y.y

In [39]:
dat %>% unite(site, site.x, site.y, site, sep="|", na.rm=TRUE)

ERROR: Error: Can't subset columns that don't exist.
✖ Column `site` doesn't exist.